.card-line {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1px 5px;
  border-radius: 10px;
  cursor: pointer;
  p {
    font-size: 1rem;
    text-align: left;
  }
  &--color {
    display: flex;
    justify-content: center;
    gap: 2px;
    width: 90px;
    .inline-icon {
      width: 20px;
      height: 20px;
    }
  }
  &--stats {
    width: 45px;
  }
  &--name {
    width: 300px;
  }
  &--type {
    width: 300px;
  }
  &:hover {
    background-color: #eee;
  }
}
