$card-display-size: 1;
$card-small-display-size: .6;

.edit {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  &--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    &--buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
  &--right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &--card {
      width: calc(745px * $card-display-size);
      height: calc(1045px * $card-display-size);
      flex-shrink: 0;
      &.small {
        width: calc(745px * $card-small-display-size);
        height: calc(1045px * $card-small-display-size);
      }
      &--shrink {
        transform: scale($card-display-size);
        transform-origin: top left;
        &.small {
          transform: scale($card-small-display-size);
        }
      }
    }
    &--buttons {
      display: flex;
      justify-content: center;
      gap: 5px;
    }
  }
}
