.chat-gpt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  &--step {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &--buttons {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    &--response {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      background-color: #f5f8fa;
      border: 1px solid;
      border-radius: 10px;
    }
    &--columns {
      display: flex;
      justify-content: center;
      flex-direction: unset;
      flex-wrap: wrap;
      gap: 10px;
      &--item {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px 10px;
        border: 1px solid;
        border-radius: 10px;
        box-sizing: border-box;
      }
    }
    &--item {
      display: flex;
      justify-content: center;
      gap: 10px;
      &--card {
        width: calc(745px * 0.5);
        height: calc(1045px * 0.5);
        flex-shrink: 0;
        &--shrink {
          transform: scale(0.5);
          transform-origin: top left;
        }
      }
      .input-drop-down {
        width: 100%;
      }
    }
    &--flavor {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      &--item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}
